// @global
// @global-color
$color-white: #ffffff
$color-dark: #000000
$color-gray: #a0a0a0
$color-blue: #0080ff
$color-blue: #428bca
$color-blue-dark: #428bca

$color-border: #c4c4c4
$color-shadow: rgba( 0, 0, 0, 0.1 )
$color-background: #f0f0f0

// @global-size
$margin: 20px
$padding: 25px
$padding-input: 8px 10px

// @global-style
body
    background-color: $color-background
    padding-top: 30px
$border: 1px solid $color-border
$border-blue: 1px solid $color-blue
$border-dark: 1px solid $color-border - 20
$border-radius: 6px

@mixin border-radius( $top, $right: $top, $bottom: $top, $left: $right )
    -webkit-border-radius: $top $right $bottom $left
    -moz-border-radius: $top $right $bottom $left
    border-radius: $top $right $bottom $left
@mixin box-shadow( $x, $y, $blur, $size, $color, $inset: null )
    -webkit-box-shadow: $x $y $blur $size $color $inset
    -moz-box-shadow: $x $y $blur $size $color $inset
    box-shadow: $x $y $blur $size $color $inset
@mixin gradient( $start, $end: $start )
    background: $start
    background: -webkit-linear-gradient( top, $start 0%, $end 100% )
    background: linear-gradient( to bottom, $start 0%, $end 100% )
// @layout
// @modules
.navbar
    @include box-shadow( 0, 8px, 15px, 6px, $color-shadow )
    min-height: 30px
    height: 30px
    background: #e4e4e4
    border-bottom: $border-dark
    .navbar-toggle
        margin: 0
        padding: 0 10px 0
        height: 30px
        min-height: 30px
        span
            background: $color-gray
        &:active
            font-size: 0.9em
    .navbar-brand
        height: 30px
        line-height: 30px
        padding: 0 15px
        i
            line-height: 30px
            height: 30px
            color: $color-dark
        &:hover, &:active
            background-color: $color-blue
#navbar
    background-color: $color-background
    border-bottom: 1px solid $color-border
    a:hover, a:active, li.active a
        background-color: $color-blue
        color: $color-white
    li
        a
            color: $color-blue
            padding: 0 15px
            height: 30px
            line-height: 30px
.search
    margin: $padding $margin + 80px $padding auto
    position: relative
    input
        vertical-align: middle
        padding: $padding-input
        padding-left: 35px
        @include border-radius( $border-radius )
        border: $border
        width: 100%
        &:focus
            @include box-shadow( 0, 0, 5px, 2px, rgba( $color-blue, 0.5 ) )
            border-color: $color-blue
            outline: 0
    span
        width: 20px
        height: 20px
        font-size: 15px
        line-height: 20px
        text-align: center
        cursor: pointer
        &:active
            font-size: 14px
    span.go
        position: absolute
        top: 50%
        left: 10px
        margin-top: -10px
    span.button
        position: absolute
        top: 50%
        right: 10px
        margin-top: -10px
.th-style
    width: 90px
    float: right
    vertical-align: middle
    button
        width: 50%
        padding: $padding-input
        vertical-align: middle
        @include border-radius( $border-radius )
.panel
    color: #000
    overflow: hidden
    border: $border
    @include border-radius( $border-radius )
    padding: 20px
    background-color: #f0f0f0
    margin: $padding auto
.window
    border: $border
    @include border-radius( $border-radius )
    margin: $margin auto
    padding: 0 $padding
    background-color: $color-white
    @include box-shadow( 0, 8px, 15px, 6px, $color-shadow )
// @platform
@media(max-width: 768px)
    .row
        .search
            width: 100%
        .th-style
            display: none
// @fixed