doctype html
html(lang="en", ng-app)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Bookmarks
        meta(name="author", content="Cungen")
        meta(name="keywords", content="bookmark, online")
        meta(name="description", content="This is a Online Bookmark.")

        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/all.css")
    body(ng-controller="GridController")
        .container
            nav.navbar.navbar-fixed-top(role="navigation")
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                        i.glyphicon.glyphicon-th-large
                    a.navbar-brand(href="#Project")
                        i.glyphicon.glyphicon-bookmark
                #navbar.navbar-collapse.collapse(aria-expanded="false", style="height: 1px;")
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") Bookmarks
                        li
                            a(href="#tools") Tools
                        li
                            a(href="#about") About
        .container.window
            .row
                .col-sm-9
                    div.tools
                        .btn-group.th-style(data-toggle="buttons")
                            label.btn.btn-primary.active
                                input#option1(type="radio", name="options", autocomplete="off" checked)
                                span.glyphicon.glyphicon-th-large
                            label.btn.btn-primary
                                input#option2(type="radio", name="options", autocomplete="off")
                                span.glyphicon.glyphicon-th-list

                        .search
                            input(type="text", placeholder="Search", ng-model="search")
                            span.glyphicon.glyphicon-search.go
                            span.button.glyphicon.glyphicon-remove(ng-show="search", ng-click="search=''")
                    div(ui-view)
                .col-sm-3
                    .frame
                        ul.nav.nav-list
                            li.nav-header 分类
                            li(ng-repeat='(key, value) in bookmark')
                                a(href="#") {{key}}
                            li.nav-header 标签
                            li
                                a(href="#") 资料
        script(data-main="js/require-config.js", src="bower_components/requirejs/require.js")