doctype html
html(lang="en", ng-app)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        title Bookmarks
        meta(name="author", content="Cungen")
        meta(name="keywords", content="bookmark, online")
        meta(name="description", content="This is a Online Bookmark.")

        link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="css/base.css")
    body
        .container
            nav.navbar.navbar-fixed-top(role="navigation")
                div.navbar-header
                    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                        i.glyphicon.glyphicon-th-large
                    a.navbar-brand(href="#Project")
                        i.glyphicon.glyphicon-bookmark
                #navbar.navbar-collapse.collapse(aria-expanded="false", style="height: 1px;")
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") Bookmarks
                        li
                            a(href="#tools") Tools
                        li
                            a(href="#about") About
        .container.window
            .row
                .col-sm-9
                    div.tools
                        .btn-group.th-style
                            button.btn.btn-default(type="button", ui-sref="grid")
                                span.glyphicon.glyphicon-th-large
                            button.btn.btn-default(type="button", ui-sref="list")
                                span.glyphicon.glyphicon-th-list
                        .search
                            input(type="text", placeholder="Search", ng-model="search")
                            span.glyphicon.glyphicon-search.go
                            span.button.glyphicon.glyphicon-remove(ng-show="search", ng-click="search=''")
                    div(ui-view)
                .col-sm-3
                    .panel
                        | {{bookmark}}
                        ul.nav.nav-list
                            li.nav-header 分类
                            li(ng-repeat='b in bookmark')
                                a(href="#") {{b}}
                            li
                                a(href="#") 库
                            li
                                a(href="#") 应用
                            li.nav-header 功能列表
                            li
                                a(href="#") 资料
                            li
                                a(href="#") 设置
                            li.divider
                            li
                                a(href="#") 帮助
        script(data-main="js/require-config.js", src="http://cdn.bootcss.com/require.js/2.1.14/require.js")