doctype html
html
    meta(charset="utf-8")
    titlt Unit Test
    meta(name="author", content="Cungen")
    meta(name="description", content="Bookmark unit test using QUnit")
    meta(name="keywords", content="bookmark, unit test, QUnit")

    link(rel="stylesheet", href="../../bower_components/qunit/qunit/qunit.css")

    body
        div#qunit
        div#qunit-fixture
        script(data-main="main", src="../../bower_components/requirejs/require.js")